.upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #c78a56;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid black;
}

.upload-btn {
    background: white;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.upload-btn:hover {
    background: #f0f0f0;
}

.file-name {
    color: white;
    font-size: 14px;
}

.w-max-510{
    max-width: 510px;
}

.w-min-320 {
    min-width: 320px;
}