.CardLink {
    text-decoration: none;
    color: inherit;
    max-width: 320px;
    min-width: 250px;
    cursor: pointer;
    height: 100%;
}

.MainCard {
    width: 30%;
    max-width: 320px;
    min-width: 250px;
    cursor: pointer;
    height: -webkit-fill-available;
    position: relative;
}

.CardHeart {
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.CardImage {
    height: 200px;
    object-fit: cover;
}