.podium{
    width: 30%;
    max-width: 150px;
    min-height: 200px;
}

.podium-step-1{
    background: #fccb82;
}

.podium-step-2{
    width: 30%;
    max-width: 150px;
    min-height: 200px;
    background: #b4fce5;
}